.extendDrop {
  display: flex;
  flex-direction: row;
  color: var(--foreground);
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.drop-content {
  margin-left: 1rem;
}
.extendDrop span {
  margin: 0 1rem;
}
.extendDrop svg {
  transform: rotate(90deg);
  transition: 0.2s;
  fill: var(--foreground);
}
.extendDrop hr {
  width: 90%;
  height: 2px;
  border: 0.05rem solid var(--foreground);
  color: var(--foreground);
  background-color: var(--foreground);
}
