.nav {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.625rem;
  display: flex;
  flex-direction: row;
  background: var(--background-plus);
  justify-content: space-between;
  align-items: center;
}
.nav svg {
  margin: 0.13rem;
  background: none;
  transform: rotate(90deg);
  transition: 0.2s;
}
.nav svg.open {
  transform: rotate(0);
}
a {
  background: none;
}
