.Loading {
  position: relative;
  top: 40px;
  background: var(--background);
  border: 12px solid var(--background-plus);
  border-radius: 50%;
  border-top: 12px solid var(--foreground);
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
