.toggle {
  background: none;
  display: flex;
  align-items: center;
}
.theme {
  height: 0;
  width: 0;
  visibility: hidden;
}
.switch {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 3.125rem;
  height: 1.5625rem;
  border-radius: 3.125rem;
  background: var(--foreground);
  transition: background 0.2s;
}
.circle {
  content: "";
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 2.5rem;
  background: var(--background);
  transition: 0.2s;
}
.theme:checked + .switch .circle {
  transform: translateX(+100%);
}
